build
test
Setup
*.cfg
*.hi
*.o
scripts/*.o
scripts/*.hi
scripts/*.ps
scripts/count-labelings
scripts/count-physical-qubit
scripts/count-physical-qubit-for-everything
scripts/draw-tiling
scripts/scan
dist
